{:paths ["src/main" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        com.google.javascript/closure-compiler-unshaded {:mvn/version "v20230103"}
        reagent/reagent {:mvn/version "1.1.1"}}

 :aliases
 {:shadow-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.20"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}

  :outdated
  {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}}}
