{:paths ["src" "src/racer_pacer" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.758"}
        cljsjs/react-dom {:mvn/version "18.0.0-rc.0-0"}
        reagent/reagent {:mvn/version "1.1.0"}}

 :aliases
 {:prod
  {:main-opts ["-m" "cljs.main" "-co" "prod.cljs.edn" "-c" "racer-pacer.core"]}

  :figwheel
  {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.12"}}
   :main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
